<div id="home">
  <h4 class="hometext" style="margin-top: 15px">Home</h4>
  <div class="user-tweet">
    <h5 style="opacity: 0.7; padding-left: 14px;">Enter your tweet message below</h5>
    <div class="tw-body">
      <i style="float: left;width:10%;font-size:30px; padding-left: 14px;" class="glyphicon glyphicon-envelope"></i>
      <input id="text_tweets" [(ngModel)]="tweet_msg" type="text" style="float:right;width:90%;height:70px;border:none"
        placeholder="Whats Happening?">
      <div class="tweet-bottom">
        <div class="tw-bottom-left">
          <button><i class="glyphicon glyphicon-picture"></i></button>
          <button><span> &#128522;</span></button>
        </div>
        <div class="tw-bottom-right">
          <button id="tweet-submit" (click)="submitTweet()">Tweet</button>
        </div>
      </div>
    </div>
  </div>

  <div id="displayTweets">
    <h4 style="margin-top: 13px; opacity: 1.0; font-weight: bold;margin-bottom: 15px;"> Your Feeds </h4>
    <div id="home_tweets" class="card shadow" *ngFor="let tweet of follower_tweets">
        <p id="user_handle">@{{tweet.userName}}</p>
        <div id="tw">
          <ul id="tweet_title_msg">
             <li><p id="tm_title">Tweet Msg : &nbsp;</p></li>
             <li><p id="tm_text">{{tweet.tweetText}}</p></li>
          </ul>  
          <ul id="lcs">
              <li><p id=""><button><i class="glyphicon glyphicon-thumbs-up"></i></button>({{tweet.likes}}) &nbsp;&nbsp; &nbsp;</p></li>
              <li><p id=""><button><i class="glyphicon glyphicon-comment"></i></button>({{tweet.comments}}) &nbsp;&nbsp; &nbsp;</p></li>
              <li><p id=""><button><i class="glyphicon glyphicon-share"></i></button>({{tweet.retweets}})</p></li>
          </ul>
          
        </div>
        
    </div>
  </div>
