
.search-bar input{
    width: 80%;
    height: 40px;
    padding: 14px;
    border-radius: 20px;
    margin-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #e6ecf0 ;
    border-color:#e6ecf0;
    background-repeat: no-repeat;
    outline: none;
}
.trendsforyou{
    margin-top: 20px;
    border-radius: 15px;
    background-color: #f5f8fa;
    width: 80%;
    height: 38vh;
    overflow: auto;
}
.trendsforyou p,.whotofollow p{
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom: 1px solid #AEB6BF;
    margin-right: 15px;
    padding-bottom: 8px; 
    padding-top: 8px;
}
.whotofollow{
    border-radius: 10px;
    margin-top:20px; 
    background-color: #f5f8fa;
    width: 80%;
    height: 38vh;
    overflow: auto;
}
.base-right-bottom-text{
   opacity: 0.7; margin-top: 5px;
}