.card img{
    height: 40vh;
    width: 100%;
}
h5{
    margin-top: 20px;
    font-weight: bold;
    opacity: 0.9;
    font-size: 18px;
}
.name-id{
    margin-top: 10px;
   
}
.name-id .HNB {
    list-style-type: none;
    float: left;
    position: relative;
    list-style-position: inside;
    
}
.name-id .HNB li{
    font-weight: bold;
    font-size: 14px;
    color: #2E4053;
    margin: 0;
    padding: 0; 
}
/* .name-id .HNB li div{
    margin: 0px;
    padding: 0px
} */
.name-id .HNB li p{
    margin: 0;
    padding: 0;
}

.li_col{
    color: #C70039  ;
    margin-left: 20px;
} 

.ff_desc{
    list-style-type: none;
    margin-top: 100px;
    overflow: hidden;

}
.ff_desc li{
    float: left;
    margin-right: 35px;
    font-weight: bold;
    color: #17202A ;
    font-size: 15px;
    opacity: 0.8;
}

#tw-card ul li i{
    font-size: 14px;
} 

#tw-card ul li button {
    height: inherit;
    width: inherit;
    border: 0px;
}

#tw-card{
    transition: transform 1s linear;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px;
}

#tw-card:hover{
    transform: scale(1.1) ; 
}

.edit-button {
    position : absolute;
    top : 60%;
    left : 90%;
    z-index: 10;
}