<h5 >Your Profile</h5>

<div class="card shadow-lg bg-white">
    <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" srcset="" >

    <div class="name-id">
        <ul class="HNB">
            <li>HashTag : <span class="li_col"><b>{{user?.userId}}</b></span></li>
            <li>Name &nbsp; &nbsp; &nbsp; : <span class="li_col"><b>{{user?.userName}}</b></span> </li>
            <li>Bio &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: <span class="li_col"><b>{{user?.status || 'Null'}}</b></span>   </li>
            <li>Birth date :<span class="li_col"><b>{{user?.dob}} </b></span>  </li>
        </ul>
        <ul class="ff_desc">
            <li>following ( {{user?.followCount}} )  </li>
            <li>followers ( {{user?.followerCount}} ) </li>
            <li>Tweets ( {{user?.tweetCount}} ) </li>
            <li><Button (click)="editProfile()" style="border: 0; margin: 0px; padding: 0px;color: #212F3C;font-weight: bold">Edit Profile <i class="glyphicon glyphicon-pencil" style="margin: 0;padding:0;"></i></Button></li>
            <li><button (click)="addFollowers()" style="border: 0px;color: black;opacity: 0.8;font-weight: bold">follow someone</button></li>
        </ul>
    </div>
</div>

<div class="your_tweets">
   <h4 style=" margin-top:12px;font-size: 17px;font-weight: bold">Your Tweets</h4>
    <div id="tw-card" style="margin-bottom: 8px; overflow: auto" class="card shadow" *ngFor="let item of user_tweets">
        <ul style="list-style-type:none ">
            <li style="width:100%; margin-top: 5px; "><span style="color: #212F3D; font-size: 12px; font-weight: bold">TweetMsg : &nbsp;</span> <span style="font-size: 12px">{{item?.tweet_msg}}</span> </li>
            <li> <button class="btn-like" (click)="increaseLike( item.tweet_id )" ><i class="glyphicon glyphicon-thumbs-up"></i></button>  {{item?.tweet_like_count}} &nbsp; &nbsp; 
                 <button class="btn-comment" (click)="increaseComment( item.tweet_id)"  ><i class="glyphicon glyphicon-comment"></i></button>  {{item?.tweet_comment_count}} &nbsp; &nbsp; 
                 <button class="btn-share" (click)="increaseShare(item.tweet_id)"    ><i class="glyphicon glyphicon-share"></i></button>  {{item?.tweet_retweet_count}}
            </li>
            <li> <span style="font-weight:bold">atTime :</span>  {{item?.atTime}}</li>
        </ul>
    </div>
</div>
